bin/
lib/
src/*.o
src/*.a
src/*_mpi
src/*_omp
src/*_hybrid
*.bak
junk
backup
src/junk
src/backup
src/test
*.[0-9]
doc/*.[0-9]
doc/*.out
doc/*.log
doc/*.aux
doc/*.toc
doc/amask_ug.pdf
src/placement/hybrid
src/placement/hybrid.o
src/placement/mpi
src/placement/mpi.o
src/placement/omp
src/placement/omp.o
